@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .background {
    background-image: url("./assets/form-background.png");
  }
  .form-background {
    background: linear-gradient(
      180.04deg,
      rgba(221, 183, 172, 0.7) 0.04%,
      rgba(236, 217, 201, 0.7) 100.92%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
  }
  .product {
    @apply bg-white/50;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3px);
  }
  .btn-effect {
    @apply rounded-lg shadow-md shadow-black transition-all duration-300 hover:scale-105 hover:shadow-lg hover:shadow-black active:scale-100 active:shadow-md active:shadow-black;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: black !important;
  }
  svg{
    @apply cursor-pointer;
  }
}
